{% extends 'base.html.twig' %}

{% block title %}Filtre{% endblock %}

{% block body %}
    <main class="container">
    <div class="bloc1">
        <div class="row">
            <a href="{{ path('filtre') }}?filter=nomLiens" class="btn btntri">Trier par nom</a>
            <a href="{{ path('filtre') }}?filter=nbKiLiens" class="btn btntri">Trier par ki</a>
        </div>
    <form method="post">
{% for lien in liens %}

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{ lien.id }}" id="{{ lien.id }}" name="{{ lien.id }}">
        <label class="form-check-label" for="{{ lien.id }}">
            {{ lien.nomLiens }} Ki +{{ lien.NbKiLiens }}

    </div>
{% endfor %}
        <input type="image" id="bouton" alt="bouton" class="bouton" src="/img/1200px-Dragon_ball.svg.png">
    </form>
    </div>
<div class="bloc2">
    {% for personnage in personnages %}
    <img class="imgCarte" src="/uploads/persos/{{ personnage.image }}">
    {%  endfor %}
    </div>
</main>

{% endblock %}
