{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <main class="container">
        <div class="register">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.email) }}

        <button class="btn btn-lg btn-primary">S'enregistrer</button>
    {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}
